<form>
    <div>
        <fieldset class="module aligned">
            {% for field in form %}
                <div class="form-row">
                    {{ field.errors }}
                    <label {% if field.field.required %}class="required"{% endif %}>{{ field.label }}:</label>{{ field }}
                    {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </fieldset>
    </div>
</form>